@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --red:#FF0000;
  --red2B:#FF00002B;
  --blue:#4AB8FF;
  --blue2B:#4AB8FF2B;
  --yellow:#FDCC0C;
  --yellow2B:#FDCC0C2B;
  --pink:#FD5181;
  --pink2B:#FD51812B;
  --p-info:#74798C;
  --units: #282D30;
  --max-h: 100vh;
  --header-h: 91px;
  --user-section-pd: 40px;
  --p-msg-mt: 40px;
  --p-msg-mb: 77px;
  --user-msg-lh: 24px;
  --sum: calc(
      var(--header-h) + (var(--user-section-pd) * 2)
      + var(--p-msg-mb) + var(--p-msg-mt)
      + (var(--user-msg-lh) * 2)
  );
  --activity-h: calc(
      var(--max-h) - var(--sum)
  );
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

div.loading {
  margin: auto;
  margin-top: 20%;
}
div.loading h1 {
  font-size: 46px;
  line-height: 72px;
}
div.loading div.loader {
  width: 100%;
  height: 100%;
}

.user-selection {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.user-btn {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px #282D30;
          box-shadow: 0px 0px 3px #282D30;
  background-color: #f44336;
} /* Red */
.show-me .show-me-litle,
.show-me .show-me-big {
  opacity: 0;
}
.show-me:hover .show-me-litle,
.show-me:hover .show-me-big {
  opacity: 1;
}

.show-points .show-circle,
.show-points .litle-group {
  opacity: 0;
}
.show-points:hover .show-circle,
.show-points:hover .litle-group {
  opacity: 1;
}

header {
  height: var(--header-h);
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* """"""""""""""""""""" NAVIGATION HORIZONTAL */
}
header div.logo {
  width: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div.logo h1 {
  color: #E60000;
  margin-left: 10px;
}
header nav.h-nav {
  margin-left: 5vh;
  width: 70vh;
}
header nav.h-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav.h-nav ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

/* """"""""""""""""""""" NAVIGATION VERTICAL */
div.vnav-and-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.vnav-and-content nav.v-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 117px;
  height: calc(var(--max-h) - var(--header-h));
  background-color: black;
}
div.vnav-and-content nav.v-nav ul {
  height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.vnav-and-content nav.v-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 6px;
}
div.vnav-and-content nav.v-nav ul li i {
  font-size: 30px;
  color: #E60000;
}
div.vnav-and-content nav.v-nav h5 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #FFFFFF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/* """"""""""""""""""""" BOX-SHADOW */
div.activity,
div.others-info > div,
aside > div.info {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(40, 45, 48, 0.168627451);
          box-shadow: 1px 1px 5px 0px rgba(40, 45, 48, 0.168627451);
}

/* """"""""""""""""""""" USER SECTION */
div.user-section {
  padding: var(--user-section-pd);
  width: -moz-available;
}
div.user-section h1.hello {
  font-size: 48px;
  font-weight: 500;
  line-height: var(--user-msg-lh);
}
div.user-section h1.hello span.red-name {
  color: #E60000;
}
div.user-section p.msg-progress {
  font-weight: 400;
  font-size: 18px;
  line-height: var(--user-msg-lh);
  margin-top: var(--p-msg-mt);
  margin-bottom: var(--p-msg-mb);
}
div.user-section section.activity {
  height: var(--activity-h);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*""""""""""""""""""""""" ASIDE INFO */
}
div.user-section section.activity div.desc-activity {
  width: 835px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}
div.user-section section.activity div.desc-activity > div, div.user-section section.activity div.desc-activity > div > div {
  border-radius: 5px;
}
div.user-section section.activity div.desc-activity div.activity {
  background-color: #FBFBFB;
  width: 100%;
  height: 320px;
}
div.user-section section.activity div.desc-activity div.others-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.user-section section.activity div.desc-activity div.others-info div.average-session,
div.user-section section.activity div.desc-activity div.others-info div.performance,
div.user-section section.activity div.desc-activity div.others-info div.score {
  width: 258px;
  height: 263px;
}
div.user-section section.activity div.desc-activity div.others-info div.average-session {
  background-color: #FF0000;
}
div.user-section section.activity div.desc-activity div.others-info div.performance {
  background-color: #282D30;
}
div.user-section section.activity div.desc-activity div.others-info div.score {
  background-color: #FBFBFB;
}
div.user-section section.activity aside {
  margin-left: 40px;
  height: inherit;
  width: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div.user-section section.activity aside div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 100%;
  height: 124px;
  background-color: #FBFBFB;
}
div.user-section section.activity aside div.info span.icone {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.user-section section.activity aside div.info span.icone i {
  font-size: 20px;
}
div.user-section section.activity aside div.info span.units-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.user-section section.activity aside div.info span.units-info h3 {
  color: var(--units);
}
div.user-section section.activity aside div.info span.units-info p {
  color: var(--p-info);
}

/*++++++++++++++++++++++ COLOR ICON */
.red {
  background: var(--red2B);
  mix-blend-mode: normal;
}
.red i {
  color: var(--red);
}

.blue {
  background: var(--blue2B);
  mix-blend-mode: normal;
}
.blue i {
  color: var(--blue);
}

.yellow {
  background: var(--yellow2B);
  mix-blend-mode: normal;
}
.yellow i {
  color: var(--yellow);
}

.pink {
  background: var(--pink2B);
  mix-blend-mode: normal;
}
.pink i {
  color: var(--pink);
}